.homeSection {
  width: 100%;
  background-color: rgb(6, 12, 6);
}

.headerSection {
  width: 100%;
  height: 11vh;
  background-color: transparent;
  position: relative;
  z-index: 99;
}

.headerSection nav {
  display: grid;
  grid-template-columns: 0.3fr auto 0.31fr;
  place-items: center;
  height: 70%;
  width: 85%;
  background: linear-gradient(to right, #0101ff, #dd04a7f6);
  color: white;
  border-radius: 3rem;
  border: 1px solid rgb(17 2 72);
}

.headerSection nav .left {
  justify-content: end;
  align-items: center;
}

.box {

  display: grid;
  grid-template-columns: .5fr auto .5fr;
}

.headerSection nav .left span {
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
}

.headerSection nav .mid ul {
  width: 85%;
  gap: 4rem;
}

.headerSection nav .mid ul li {
  list-style-type: none;
  position: relative;
  font-weight: bold;
  cursor: pointer;
}

.headerSection nav .mid ul li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.19rem;
  background-color: rgb(208, 23, 184);
  bottom: -6px;
  left: -2px;
  transition: .2s linear;
}

.active::after {
  width: 0%;
}

.headerSection nav .mid ul li:hover::after {
  width: 110%;
}

.headerSection nav .right {

  height: 80%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerSection nav .right button {
  height: 90%;
  width: 95%;
  border-radius: 5rem;
  outline: none;
  font-weight: bold;
  color: white;
  background: rgb(53, 11, 89);
  font-size: 1.5rem;
  border: none;
  transition: .25s linear;
}

.headerSection .right button:hover {
  cursor: pointer;
  background: rgb(255, 255, 255) !important;
  color: black !important;
}

.innerPart {
  display: grid !important;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.innerPart .lines {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: absolute;
  left: -2.5rem;
  top: 8rem;
}

.innerPart .lines .line {
  display: inline-block;
  width: 5rem;
  height: 0.3rem;
  background: rgb(170, 132, 218);
  rotate: 45deg;
  border-radius: 5px;
}

.innerPart .left {
  position: relative;
  z-index: 99;
  flex-direction: column;
  padding-left: 4.5rem;
  gap: 1rem;
  align-items: start;
  justify-content: start;
  padding-top: 6rem;
}

.innerPart .left div:first-child {
  text-transform: uppercase;
  font-size: 2rem;
  color: rgb(154, 153, 156);
}

.innerPart .left div:nth-child(2) {
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.innerPart .left .desc {
  position: relative;
  width: 20vw;
  font-size: 1.2rem;
  color: rgb(102, 104, 105);
  border-left: 1px solid rgb(102, 104, 105);
  padding-left: 2rem;
  margin-top: 4rem;
}

.innerPart .right .imgBack {
  height: 45vw;
  width: 45vw;
  background-image: linear-gradient(to left,  rgb(249, 66, 232),rgb(17, 128, 219));
  border-radius: 50%;
  bottom: -15rem;
  position: absolute;
  right: 4rem;
}

.innerPart .right .cvDownload {
  z-index: 999;
  position: absolute;
  flex-direction: column;
  background: rgb(208, 23, 184);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  bottom: 10rem;
  cursor: pointer;
  transition: .2s linear;
}

.innerPart .right .cvDownload::before {
  content: "";
  position: absolute;
  background: rgb(208 23 184 / 35%);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  bottom: -0.71rem;
  z-index: -1;
  transition: .2s linear;

  filter: blur(1px);
}

.innerPart .right .cvDownload::after {
  transition: .2s linear;
  content: "";
  position: absolute;
  background: rgb(208 23 184 / 20%);
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  bottom: -1.71rem;
  z-index: -3;
  filter: blur(2px);
}

.innerPart .right .cvDownload:hover {
  background: #FF0080;
  color: black;
  font-weight: bold;

}

.innerPart .right .cvDownload:hover::before {
  background: #FF0080;
  opacity: 0.35;
}

.innerPart .right .cvDownload:hover::after {
  background: #FF0080;
  opacity: 0.2;
}

.innerPart .right .image {
  display: flex;
  align-items: center;
  align-items: end;
  justify-content: center;
  height: 100%;
  padding-right: 6rem;
}

.innerPart .right .image img {
  height: 40vw;
  z-index: 99;
  position: relative;
}

.socialIcons {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  color: black;
  position: absolute;
  right: 1.5rem;
  top: 8rem;
  z-index: 200;

  height: 15rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons .icon {
  cursor: pointer;
  font-size: 1.5rem;
  transition: .3s linear;
  height: 2rem;
}

.socialIcons .icon:hover {
  font-size: 1.7rem;
  color: #17d0a7;
}


/* responscive nesss */
@media (max-width:1050px) {
  .headerSection nav {
    width: 75%;
    border-radius: 2.5rem;
    grid-template-columns: 0.3fr auto 0.4fr;
  }

  .logo {
    width: 100% !important;
  }

  .headerSection .right {
    display: none !important;
  }

  .headerSection nav .left {
    justify-content: center;
  }

  .headerSection nav .left span {
    font-size: 1.3rem;
  }

  .headerSection nav .mid ul {
    gap: 3rem;
  }

  .innerPart .left div:first-child {
    font-size: 1rem;
  }

  .innerPart .left div:nth-child(2) {
    font-size: 2.5rem;
  }

  .innerPart .left .desc {
    width: 50%;
    padding-left: 1rem;
    margin-top: 3rem;
    font-size: 1rem;
  }

  .innerPart .right .imgBack {
    height: 45vw;
    width: 46vw;
    bottom: -10rem;
  }

  .innerPart .right .cvDownload {
    height: 4.5rem;
    width: 4.5rem;
    bottom: 5rem;
    left: -2rem;
  }

  .innerPart .right .cvDownload::before {
    height: 6rem;
    width: 6rem;
  }

  .innerPart .right .cvDownload::after {
    height: 8rem;
    width: 8rem;
  }

  .innerPart .right .image {
    padding-right: 6rem;
  }

  .innerPart .right .image img {
    height: 24rem;
  }

  .homeSection .blur2 {
    top: 6rem;
  }

  .socialIcons {
    top: 4rem;
    z-index: 99;
  }
}

@media (max-width:930px) {
  .headerSection {
    height: auto;
    padding-top: 1rem;
  }

  .innerPart .lines {
    top: 3rem;
  }

  .logo {
    width: 100% !important;
  }

  .innerPart .right .imgBack {
    height: 22rem;
    width: 22rem;
    right: 1.5rem;
  }

  .innerPart .right .image img {
    height: 19rem;
    right: 3.5rem;
    position: absolute;
  }

  .innerPart .right .cvDownload {
    bottom: 5rem;
    left: 4vw;
  }

  .homeSection .blur2 {
    top: 3rem;
  }
}

@media (max-width:768px) {
  .headerSection {
    height: auto;
    padding-top: 1rem;
  }

  .logo {
    width: 100% !important;
  }

  .headerSection nav {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }

  .box {

    grid-template-columns: .5fr auto;
  }

  .headerSection .right {
    display: none !important;
  }

  .innerPart .lines {
    left: -2.5rem;
    top: 4rem;
    opacity: 0.7;
  }

  .innerPart .left div:nth-child(2) {
    font-size: 2rem;
  }

  .innerPart .left .desc {
    width: 60%;
  }

  .innerPart .left .desc {
    width: 60%;
    margin-top: 1rem;
  }

  .innerPart .right .image img {
    height: 20rem;
  }

  .homeSection .blur2 {
    top: 0rem;
    bottom: 0;
  }

  .innerPart .left .desc {
    width: 70%;
    margin: 1rem 0;
  }

  .innerPart .right .imgBack {
    height: 19rem;
    width: 20rem;
    bottom: -7rem;
  }

  .innerPart .right .cvDownload {
    bottom: 5rem;
    left: 0rem;
  }

  .innerPart .left div:first-child {
    font-size: 1rem;
  }

  .innerPart .left div:nth-child(2) {
    font-size: 1.5rem;
  }

  .innerPart .right .image {
    padding-right: 4rem;
  }

  .innerPart .right .image img {
    height: 16rem;
  }
}

@media (max-width:660px) {

  /* hme section */
  .innerPart .left div:first-child {
    font-size: .8rem;
  }

  .innerPart .left div:nth-child(2) {
    font-size: 1.25rem;
  }

  .innerPart .left .desc {
    width: 70%;
    margin: .7rem 0;
    font-size: .8rem;
  }

  .socialIcons .icon {
    font-size: 1rem;
  }

  .socialIcons {
    top: 2rem;
    z-index: 99;
  }

  .innerPart .left {
    padding-left: 3rem;
    gap: .5rem;
    padding-top: 3rem;
  }

  .innerPart .left div:first-child {
    font-size: .8rem;
  }

  .innerPart .left div:first-child {
    font-size: .8rem;
  }

  .innerPart .right .image {
    padding-right: 2rem;
  }

  .innerPart .right .image img {
    height: 11rem;
  }

  .homeSection .blur1 {
    height: 20rem;
    width: 30rem;
    top: -6rem;
  }

  .homeSection .blur2 {
    height: 9rem;
    width: 30rem;
    bottom: 0rem;
    top: unset;
    filter: blur(60px);
  }

  .innerPart .lines {
    left: -3rem;
    gap: 1rem;
    top: 2rem;
  }

  .innerPart .right .cvDownload {
    height: 3.5rem;
    width: 3.5rem;
    bottom: 4rem;
    left: 0rem;
  }

  .innerPart .right .cvDownload::before {
    height: 5rem;
    width: 5rem;
  }

  .innerPart .right .cvDownload::after {
    height: 7rem;
    width: 7rem;
  }

  .innerPart .right .imgBack {
    height: 13rem;
    width: 13rem;
    bottom: -5rem;
    right: 2.5rem;
  }

  .innerPart .lines span {
    height: 0.2rem
  }
}

@media (max-width:480px) {
  .innerPart {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }


  .innerPart .left div:first-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .innerPart .left div:nth-child(2) {
    align-items: center;
    justify-content: center;
  }

  .innerPart .left {
    padding-left: 0;
  }

  .innerPart .left .desc {
    width: 60%;
    margin: 2rem 3rem;
  }

  .innerPart .right .imgBack {
    height: 70vw;
    width: 70vw;
    bottom: -7rem;
    right: 2rem;
  }

  .innerPart .right .image {
    padding-right: 0rem;
    right: unset;
    left: -1vw;
    align-items: center;
    justify-content: center;
  }

  .socialIcons .icon {
    font-size: 1.4rem;
  }


  .homeSection .blur1 {
    height: 15rem;
    width: 20rem;
    top: 0rem;
    right: -11rem;
  }

  .innerPart .right .image img {
    height: 60vw;
  }

  .homeSection .blur2 {
    height: 13rem;
    width: 23rem;
    top: 18rem;
    right: -10rem;
  }


  .innerPart .right .cvDownload {
    height: 3.5rem;
    width: 3.5rem;
    bottom: 6.5rem;
    left: 1rem;
  }

  .socialIcons {
    top: -10rem;
    z-index: 99;
  }

  .innerPart .right .cvDownload::before {
    height: 5rem;
    width: 5rem;
  }

  .innerPart .right .cvDownload::after {
    height: 7rem;
    width: 7rem;
  }


}

@media (max-width:375px) {
  .innerPart .right .imgBack {
    height: 80vw;
    width: 80vw;
    bottom: -7rem;
    right: 2rem;
  }

  .innerPart .right .image {
    padding-right: 0rem;
    right: unset;
    left: 4vw;
    align-items: center;
    justify-content: center;
  }

  .innerPart .right .image img {
    height: 75vw;
    position: relative;
    bottom: -1rem;
    right: 1rem;
  }

  .headerSection nav .right {
    display: none;
  }
}


/* blur section */


.homeSection {
  position: relative;
  overflow-x: hidden;
  inset: 0;
}

.homeSection .blur1 {
  height: 26rem;
  width: 45rem;
  border-radius: 999px;
  position: absolute;
  opacity: 0.8;
  filter: blur(120px);
  background-color: rgb(30, 0, 255);
  top: -10rem;
  right: -15rem;
  z-index: 1;
}

.homeSection .blur2 {
  height: auto;
  width: 45rem;
  border-radius: 1011px;
  position: absolute;
  opacity: 0.7;
  filter: blur(120px);
  background-color: rgb(208, 23, 184);
  top: 12rem;
  right: -10rem;
  z-index: 1;
  overflow: hidden;
}







