<section class="homeSection">
  <header class="headerSection cen">
     
      <nav class="nav">
        <div class="left fx"><span>Shyam</span></div>
        <div class="mid hw-100 fx ">
          <ul class="cen">
            <li>
           Home 
            </li>
            <li>
             About
            </li>
            <li>
            Blog
            </li>
            <li>
              Contact
            </li>
          </ul>
        </div>

        <div
          class="right" 
        >
          <button>Contact</button>
        </div>
      </nav> 
  </header>

  <div class="innerPart cen">
    <div class="lines">
      <span class="line"></span><span class="line"></span
      ><span class="line"></span><span class="line"></span
      ><span class="line"></span>
    </div>
    <div class="left hw-100 cen">
      <div>
        <span class="title">full-stack web developer</span>
      </div>
      <div>
        <span class="name">Shyam Sundar</span>
        <span>Yadav</span>
      </div>
      <div class="desc">
        I'm a full-stack web developer and I work remotely from East Asia
      </div>
    </div>
    <div class="right hw-100">
      <div class="hw-100">
        <div class="cvDownload cen">
          <i class="bi bi-cloud-download"></i> <span>CV</span>
        </div>
        <div class="imgBack"></div>
        <div class="image">
          <img src=" assets/image/developer.png" alt="cv" />
        </div>
      </div>
      <div class="socialIcons">
        <span class="icon"><i class="bi bi-discord"></i></span>
        <span class="icon"><i class="bi bi-facebook"></i></span>
        <span class="icon"><i class="bi bi-instagram"></i></span
        ><span class="icon"><i class="bi bi-twitter"></i></span>
        <span class="icon"><i class="bi bi-youtube"></i></span
        ><span class="icon"><i class="bi bi-telegram"></i></span>
      </div>
    </div>
  </div>
  <div class="blur1" id="lower"></div>
  <div class="blur2" id="lower"></div> 
</section>
