
<section class="contactSection">
    <div class="heading"><span>Contact me</span></div>
    <div class="form">
      <form action="#">
        <div>
          <label for="name">Full name*</label>
          <input type="text" id="name" name="name" placeholder="Enter your full name ...">
        </div>
        <div>
          <label for="email">Email*</label>
          <input type="email" id="email" name="email" placeholder="Enter your email ...">
        </div>
        <div>
          <label for="message">Message</label>
          <textarea name="message" id="message" placeholder="Enter your message..."></textarea>
        </div>
      </form>
      <div class="btn cen">

        <button type="submit">See all</button>
      </div>
    </div>
    <div class="blur12 blur"></div>
    <div class="circle1"></div>
  </section>