<section class="aboutSection">
    <div class="blur1"id="lower"></div>
    <div class="blur2"id="lower"></div>
    <div class="blur3"id="lower"></div>
    <div class="left hw-100 cen">
      <div class="img"><span>About me</span></div>
    </div>
    <div class="right cen hw-100">
      
      <div class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, vel
        hic quasi quas enim, dolorum reiciendis magni cumque fuga, iusto
        accusamus mollitia nostrum ad voluptatem rerum corrupti beatae
        officiis perspiciatis non aut soluta nemo et dolor nesciunt!
        Doloremque tempore explicabo, magni repellat suscipit incidunt
        laboriosam minima molestias minus iusto accusamus?
      </div>
      <button type="button">Contact me</button>
    </div>
  </section>