
<section class="myProjectSection">
    <div class="heading"><span>My projects</span></div>
    <div class="projects">
      <div>
        <div class="img"></div>
        <div>
          <span>Project name</span>
          <span>Aug2022</span>
        </div>
      </div>
      <div>
        <div class="img"></div>
        <div>
          <span>Project name</span>
          <span>Aug2022</span>
        </div>
      </div>
      <div>
        <div class="img"></div>
        <div>
          <span>Project name</span>
          <span>Aug2022</span>
        </div>
      </div>
      <div>
        <div class="img"></div>
        <div>
          <span>Project name</span>
          <span>Aug2022</span>
        </div>
      </div>
    </div>
    <div class="bottom">
      <span>See more projects >></span>
    </div>
    <div class="blur6"id="lower"></div>
    <div class="blur7"id="lower"></div>
    <div class="blur8"id="lower"></div>

  </section>    