
<section class="myBlogSection">
    <div class="heading">My blog</div>
    <div class="content">
      <div class="left">
        <div class="button">
        <button class="btn" type="button">See all</button>
        </div>
        <div class="card">
          <div class="img"><img src="public/assets/image/developer.png" class="hw-100 "></div>
          <div class="title">React Suspense and React.lazy by Example</div>
          <div class="desc">When apps start to grow you can eaily end up including too many components making it havier and slow to load. One of the solutions to this problem is Code Spliting and Webpack is probably..</div>
          <div class="link">Read more >></div>
        </div>
        <div class="card">
          <div class="img"><img src="public/assets/image/aboutMe.webp" class="hw-100 "></div>
          <div class="title">5 Common Line Tips and Tricks All WebDevelopers to know</div>
          <div class="desc">When apps start to grow you can eaily end up including too many components making it havier and slow to load. One of the solutions to this problem is Code Spliting and Webpack is probably..</div>
          <div class="link">Read more >></div>
        </div>
      </div>
      <div class="right">
        <div class="card">
          <div class="img"><img src="./image/aboutMe.webp" class="hw-100  "></div>
          <div class="title">Managing State with useReducer, useState</div>
          <div class="desc">When apps start to grow you can eaily end up including too many components making it havier and slow to load. One of the solutions to this problem is Code Spliting and Webpack is probably..</div>
          <div class="link">Read more >></div>
        </div>
        <div class="card">
          <div class="img"><img src="./image/aboutMe.webp" class="hw-100  "></div>
          <div class="title">10 Things to Know About ES6 before Learning React JS</div>
          <div class="desc">When apps start to grow you can eaily end up including too many components making it havier and slow to load. One of the solutions to this problem is Code Spliting and Webpack is probably..</div>
          <div class="link">Read more >></div>
        </div>
      </div> 
      </div> 
    <div class="blur9 blur"></div>
    <div class="blur10 blur"></div>
    <div class="blur11 blur"></div>
  </section>
