
<span class="line"></span> 
<footer>
  <div class="upper">

    <div class="left">Shyam Sundar</div>
  <div class="right">  
          <ul class="fx">
            <li>Home</li>
            <li>Projects</li>
            <li>Blog</li>
            <li>Contact</li>
          </ul> 
        </div>
      </div>
      <div class="bottom">
        <span>&copy; 2024 Shyam Sundar Yadav. All rights reserved </span>
        <span>Terms of Use</span>
        <span>Privacy Policy</span>
      </div><div class="blur13" id="lower"></div>
</footer> 