form {
  margin: 20px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 10px 30px;
}
.form-group{
  width: 500px;
}
label {
  display: block;
  /* margin-bottom: 5px; */
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  /* margin-bottom: 10px; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin: 10px;
}

button:hover {
  background-color: #45a049;
}
